{% extends "base.html" %}

{% block content %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter"> 
            <h2 class="has-text-centered is-size-4">Booked Schedules</h2>
            <button class="button is-small" id="editButton" disabled>Edit</button>
            <button class="button is-small" id="deleteButton" disabled>Delete</button>
            <table class="table is-hoverable" id="schedule-table">
                <thead>
                    <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Service</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appt in appts %}
                        <tr data-id={{ appt.id }}>
                            <td>{{ appt.first_name }}</td>
                            <td>{{ appt.last_name }}</td>
                            <td>{{ appt.contact_number }}</td>
                            <td>{{ appt.get_appt_date() }}</td>
                            <td>{{ appt.get_appt_time() }}</td>
                            <td>{{ appt.get_service() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}
