{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Appointment Page!</h1>
    <div>
        <label>
            Select the appointment date:
            <input type="date" name="appt_date"/>
        </label>
    </div>
    <div>
    <br>
    <div>
        <label>
            Select the time for the appointment:
            <input type="time" name="appt_time" step="1800"/>
        </label>
    </div>
    <br>
    <div>
        <input type="button" name="submit" value="Submit"/>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='appointment.js') }}"></script>
{% endblock %}

