{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Appointment Page!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}:
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.appt_date.label }}:
            {{ form.appt_date() }}
        </p>
        <p>
            {{ form.appt_time.label }}:
            {{ form.appt_time() }}
        </p>
        <p>
            {{ form.service.label }}:
            {{ form.service() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='appointment.js') }}"></script>
{% endblock %}

