{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="has-text-centered is-size-5 mb-6">
            Hi, Welcome to Project Smile
        </h2>
        <div v-if="isStepOne">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">Patient's Name (Required)</label>
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="First Name"/>
                </div>
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">&nbsp</label>
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="Last Name"/>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">Contact Number</label>
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="+63"/>
                </div>
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">Email Address</label>
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="Email Address"/>
                </div>
            </div>
        </div>
        <div v-if="!isStepOne">
            <div class="columns is-centered">
                <div class="column">
                    Hello
                </div>
            </div>
        </div>
        <div class="columns is-4 is-centered">
            <div class="column is-one-third">
            </div>
            <div class="column is-one-third">
                <div class="columns">
                    <div class="column">
                        <button class="button is-fullwidth" @click="toggleStep">Toggle</button>
                    </div>
                    <div class="column">
                        <button class="button is-fullwidth" @click="toggleStep">Toggle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='appointment_new.js') }}"></script>
{% endblock %}

