{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="has-text-centered is-size-5 mb-6">
            Welcome to Project Smile
        </h2>
        <div id="step1">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label" id="patient-name">Patient's Name</label>
                        </div>
                    </div>
                    <input class="input" type="text" id="firstName" placeholder="First Name"/>
                </div>
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">&nbsp</label>
                        </div>
                    </div>
                    <input class="input" type="text" id="lastName" placeholder="Last Name"/>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">Contact Number</label>
                        </div>
                    </div>
                    <!-- Add an input validation for the contact number -->
                    <input class="input" type="text" id="contactNumber" placeholder="+63"/>
                </div>
                <div class="column is-one-third">
                </div>
            </div>
        </div>
        <div id="step2" style="display: none;">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Consultation', this)">Consultation</button>
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Teeth Whitening', this)">Teeth Whitening</button>
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Teeth Braces', this)">Teeth Braces</button>
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Oral Prophylaxis', this)">Oral Prophylaxis</button>
                </div>
                <div class="column is-one-third">
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Root Canal', this)">Root Canal</button>
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Tooth Extraction', this)">Tooth Extraction</button>
                    <button class="block button is-fullwidth service-button" id="service" onclick="chooseService('Dental Filling', this)">Dental Filling</button>
                </div>
            </div>
        </div>
        <div id="step3" style="display: none;">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="field is-vertical">
                        <div class="field-label has-text-left is-small">
                            <label class="label">Select Appointment Date</label>
                        </div>
                    </div>
                    <input class="input" type="date" id="apptDate" required/>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <hr>
                    <div id="time-slots"></div>
                </div>
            </div>
        </div>
        <div class="columns mt-5">
            <div class="column is-one-third is-offset-6">
                <div class="columns">
                    <div class="column">
                        <button class="button is-fullwidth" id="previous-step" onclick="previousStep()">Previous</button>
                    </div>
                    <div class="column">
                        <button class="button is-fullwidth" id="next-step" onclick="nextStep()">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4" id="displayData">
                <p>First Name: <span id="displayFirstName"></span></p>
                <p>Last Name: <span id="displayLastName"></span></p>
                <p>Contact Number: <span id="displayContactNumber"></span></p>
                <p>Service: <span id="displayService"></span></p>
                <p>Schedule: <span id="displaySchedule"></span></p>
                <p>Time: <span id="displayTime"></span></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for("static", filename='appointment.js') }}"></script>
{% endblock %}
