{% extends "base.html" %}

{% block content %}
    <div class="mt-4">
        <img style="filter: brightness(80%)" src="{{ url_for('static', filename='/assets/asset_1.jpg') }}" width=auto height=300>
        <div class="text-overlay-1">
            <div class="is-size-4">
                ABOUT PROJECT SMILE<br>
            </div>
            <div class="is-size-1 mt-3 mb-2 has-text-weight-bold">
                Crafting radiant smiles,<br>
                one appointment at a time<br>
            </div>
            <button class="button is-link mt-5 mb-5 is-large">Book Online</button>
            <div class="is-size-4 has-text-weight-bold">
                OR CALL +63 9171234567
            </div>
        </div>
    </div>
    <div class="container section columns">
        <div class="column is-two-third pt-5 mr-6">
            <div class="is-size-3 has-text-weight-bold">
                Where every smile finds its sparkle
            </div>
            <div class="is-size-5 has-text-justified mt-2">
                <br>At Project Smile, we understand the importance of a healthy, confident smile,
                and we are dedicated to providing exceptional dental care in a comfortable and welcoming environment.
                Our team of experienced dentists and friendly staff are committed to personalized care,
                tailored to meet the unique needs of each patient.
                <br>
                <br>From routine cleanings and preventative care to advanced cosmetic and restorative treatments,
                we offer a comprehensive range of services to help you achieve and maintain optimal oral health.
                At Project Smile, we believe that everyone deserves a smile they can be proud of, and we look forward to helping you achieve yours.
            </div>
        </div>
        <div class="column is-one-third write-up p-5">
            <img src="{{ url_for('static', filename='/assets/asset_2.jpeg') }}" width=auto height=300>
            <div class="is-size-6 has-text-justified mt-2">
                We're not just about dental care,
                we're about brightening lives—one smile at a time.
                With a compassionate team and cutting-edge treatments,
                we're dedicated to making your dental experience comfortable,
                effective, and, most importantly, filled with smiles.
                Welcome to a clinic where your smile truly matters.
            </div>
        </div>
    </div>
    <div class="section is-fluid columns js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_0.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Kenwood</h1>
            <div class="columns">
                <div class="column">
                    Dr. Kenwood is a compassionate and highly skilled dentist dedicated to providing exceptional dental care to her patients. With a passion for oral health and a commitment to patient comfort, Dr. Bennett strives to create a welcoming and stress-free environment for every individual who walks through her door.
                    <br><br>With years of experience in general and cosmetic dentistry, Dr. Kenwood offers a comprehensive range of services, including routine cleanings, fillings, root canals, and teeth whitening. She takes the time to listen to her patients' concerns and develop personalized treatment plans tailored to their unique needs and goals.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section is-fluid columns js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_1.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Hashemi</h1>
            <div class="columns">
                <div class="column">
                    Dr. Hashemi brings a blend of expertise and empathy to his practice, ensuring each patient receives personalized attention and top-notch dental care. With a focus on both preventive and cosmetic dentistry, he is committed to helping his patients achieve healthy, beautiful smiles that boost confidence and overall well-being.
                    <br><br>Utilizing cutting-edge techniques and advanced technology, Dr. Hashemi delivers exceptional results while prioritizing patient comfort and satisfaction. Trust Dr. Hashemi for a dental experience that exceeds expectations and leaves you smiling brighter than ever.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section is-fluid columns js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_2.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Wyne</h1>
            <div class="columns">
                <div class="column">
                    Dr. Wyne combines extensive expertise with a gentle touch, ensuring every patient receives the highest quality of care in a comfortable environment. Specializing in family dentistry, Dr. Wyne offers comprehensive services tailored to patients of all ages, from routine cleanings to advanced restorative procedures.
                    <br><br>With a commitment to staying at the forefront of dental innovation, Dr. Wyne utilizes state-of-the-art technology to deliver precise diagnoses and effective treatments, all while prioritizing patient education and satisfaction. Trust Dr. Wyne for a smile that not only looks great but also promotes long-term oral health and happiness.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for("static", filename="meet_the_doctors.js") }}"></script>
{% endblock %}

