{% extends "base.html" %}

{% block content %}
    <h1 class="has-text-centered is-size-1">Meet the Doctors</h1>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient montes nascetur ridiculus mus. In nisl nisi scelerisque eu. Ut porttitor leo a diam. Volutpat commodo sed egestas egestas fringilla. Dui faucibus in ornare quam viverra. Fames ac turpis egestas integer eget aliquet nibh praesent. Aliquam faucibus purus in massa. Aliquam nulla facilisi cras fermentum odio eu. Aliquam ut porttitor leo a diam sollicitudin. Egestas erat imperdiet sed euismod.<br><br>
            Dolor sit amet consectetur adipiscing. Tempus egestas sed sed risus pretium quam vulputate. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Eget velit aliquet sagittis id consectetur purus ut faucibus. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Augue interdum velit euismod in pellentesque massa placerat duis. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Amet justo donec enim diam vulputate ut. Luctus accumsan tortor posuere ac ut consequat semper. Et malesuada fames ac turpis egestas integer eget aliquet. Orci eu lobortis elementum nibh. Massa enim nec dui nunc mattis enim ut tellus elementum.<br><br>
        </p>
    </div>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient montes nascetur ridiculus mus. In nisl nisi scelerisque eu. Ut porttitor leo a diam. Volutpat commodo sed egestas egestas fringilla. Dui faucibus in ornare quam viverra. Fames ac turpis egestas integer eget aliquet nibh praesent. Aliquam faucibus purus in massa. Aliquam nulla facilisi cras fermentum odio eu. Aliquam ut porttitor leo a diam sollicitudin. Egestas erat imperdiet sed euismod.<br><br>
            Dolor sit amet consectetur adipiscing. Tempus egestas sed sed risus pretium quam vulputate. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Eget velit aliquet sagittis id consectetur purus ut faucibus. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Augue interdum velit euismod in pellentesque massa placerat duis. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Amet justo donec enim diam vulputate ut. Luctus accumsan tortor posuere ac ut consequat semper. Et malesuada fames ac turpis egestas integer eget aliquet. Orci eu lobortis elementum nibh. Massa enim nec dui nunc mattis enim ut tellus elementum.<br><br>
        </p>
    </div>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient montes nascetur ridiculus mus. In nisl nisi scelerisque eu. Ut porttitor leo a diam. Volutpat commodo sed egestas egestas fringilla. Dui faucibus in ornare quam viverra. Fames ac turpis egestas integer eget aliquet nibh praesent. Aliquam faucibus purus in massa. Aliquam nulla facilisi cras fermentum odio eu. Aliquam ut porttitor leo a diam sollicitudin. Egestas erat imperdiet sed euismod.<br><br>
            Dolor sit amet consectetur adipiscing. Tempus egestas sed sed risus pretium quam vulputate. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Eget velit aliquet sagittis id consectetur purus ut faucibus. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Augue interdum velit euismod in pellentesque massa placerat duis. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Amet justo donec enim diam vulputate ut. Luctus accumsan tortor posuere ac ut consequat semper. Et malesuada fames ac turpis egestas integer eget aliquet. Orci eu lobortis elementum nibh. Massa enim nec dui nunc mattis enim ut tellus elementum.<br><br>
        </p>
    </div>
    <div class="container is-fluid columns mt-6 mb-6 js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_0.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Kenwood</h1>
            <div class="columns">
                <div class="column">
                    Dr. Kenwood is a compassionate and highly skilled dentist dedicated to providing exceptional dental care to her patients. With a passion for oral health and a commitment to patient comfort, Dr. Bennett strives to create a welcoming and stress-free environment for every individual who walks through her door.
                    <br><br>With years of experience in general and cosmetic dentistry, Dr. Kenwood offers a comprehensive range of services, including routine cleanings, fillings, root canals, and teeth whitening. She takes the time to listen to her patients' concerns and develop personalized treatment plans tailored to their unique needs and goals.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container is-fluid columns mt-6 mb-6 js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_1.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Hashemi</h1>
            <div class="columns">
                <div class="column">
                    Dr. Hashemi brings a blend of expertise and empathy to his practice, ensuring each patient receives personalized attention and top-notch dental care. With a focus on both preventive and cosmetic dentistry, he is committed to helping his patients achieve healthy, beautiful smiles that boost confidence and overall well-being.
                    <br><br>Utilizing cutting-edge techniques and advanced technology, Dr. Hashemi delivers exceptional results while prioritizing patient comfort and satisfaction. Trust Dr. Hashemi for a dental experience that exceeds expectations and leaves you smiling brighter than ever.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container is-fluid columns mt-6 mg-6 js-scroll">
        <div class="column is-one-third has-text-centered">
            <img src="{{ url_for('static', filename='/assets/dentist_2.jpg') }}" width=auto height=300>
        </div>
        <div class="column is-two-third has-text-left">
            <hr>
            <h1 class="pt-5 is-size-2">Dr. Wyne</h1>
            <div class="columns">
                <div class="column">
                    Dr. Wyne combines extensive expertise with a gentle touch, ensuring every patient receives the highest quality of care in a comfortable environment. Specializing in family dentistry, Dr. Wyne offers comprehensive services tailored to patients of all ages, from routine cleanings to advanced restorative procedures.
                    <br><br>With a commitment to staying at the forefront of dental innovation, Dr. Wyne utilizes state-of-the-art technology to deliver precise diagnoses and effective treatments, all while prioritizing patient education and satisfaction. Trust Dr. Wyne for a smile that not only looks great but also promotes long-term oral health and happiness.
                </div>
                <div class="column content">
                    <h4 is-size-6>Education</h4>
                    <ul>
                        <li>BA in Biology and World Religions, Westminster College</li>
                        <li>DDS, University of Oklahoma</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for("static", filename="meet_the_doctors.js") }}"></script>
{% endblock %}

